#rdt-about(data-section='about')
  .container
    .row.r-pb
      .col-md-8.col-md-offset-2.text-center.section-heading.animate-box
        h2.rdt-section-title About
        p.rdt-lead
          | I'm very passionate about learning programming languages, cloud computing development, and AI development.
    .row
      h1.headings.icon-book  Education
      .col-md-6.animate-box
        .rdt-text
          h2 1
            sup st
            |  year Science Certificate
          span.rdt-meta Columbia College, Vancouver, BC
          p
            | Have done University Transfer(UT) Program in Columbia College.
      .col-md-6.animate-box
        .rdt-text
          h2 Computer Systems Technology Diploma
          span.rdt-meta British Columbia Institute of Technology, Burnaby, BC
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
            .row
      h1.headings.icon-archive  Experience
      .col-md-6.animate-box
        .rdt-text
          h2 LogiColor
          span.rdt-meta Mobile Responsive Web Game
          p
            | Designed logic algorithm for a web game along with a team, particularly using HTML5 and JavaScript by following Agile Scrum methodology.
      .col-md-6.animate-box
        .rdt-text
          h2
            a(href='http://www.mentalhealthbootcamp.com/') MentalHealthBootCamp.com
          span.rdt-meta Web Application Project
          p
            | Designed and developed web application.
      .col-md-6.animate-box
        .rdt-text
          h2
            a(href='http://new.firefit.com/') New.FireFit.com
          span.rdt-meta Website Developed on WordPress
          p
            | Redesigned and developed.
