#rdt-about(data-section='about')
  .container
    .row.r-pb
      .col-md-8.col-md-offset-2.text-center.section-heading.animate-box
        h2.rdt-section-title About
        p.rdt-lead
          | I'm very passionate about learning programming languages, cloud computing development, and AI development.
    .row
      h1.headings.icon-book  Education
      .col-md-6.animate-box
        .rdt-text
          h2 1
            sup st
            |  year Science Certificate
          span.rdt-meta Columbia College, Vancouver, BC
          p
            | Have completed full-time University Transfer(UT) Program in Columbia College. The program offers first and second year university courses for transfer to major universities across Canada and the United States.
            | Taken science courses such Mathematics, Chemistry and Physics and some programming courses such as C and Python prior enrolling to BCIT.
      .col-md-6.animate-box
        .rdt-text
          h2 Computer Systems Technology Diploma
          span.rdt-meta British Columbia Institute of Technology, Burnaby, BC
          p
            | In 2016, started full-time 2 year Diploma program in Computer Systems Technology. The program combines computer systems theory with hands-on practical experience in software development. In second year, Cloud Computing was selected as specialty option.
            | In Cloud Computing option, learned to create and maintain complex virtual computing environments in leading cloud computing platforms such as Amazon Web Services (AWS), Microsoft Azure, and Google Cloud Platform.
            | Acquired knowledge in managing automated software tools in continuous integration and continuous delivery (CI/CD) according to DevOps (development and operations) practices.
            .row
      h1.headings.icon-archive  Experience
      .col-md-6.animate-box
        .rdt-text
          h2 LogiColor
          span.rdt-meta Mobile Responsive Web Game
          p
            | Designed logic algorithm for a web game along with a team, particularly using HTML5 and JavaScript by following Agile Scrum methodology.
      .col-md-6.animate-box
        .rdt-text
          h2
            a(href='http://www.mentalhealthbootcamp.com/') MentalHealthBootCamp.com
          span.rdt-meta Web Application Project
          p
            | Designed and developed web application.
      .col-md-6.animate-box
        .rdt-text
          h2
            a(href='http://new.firefit.com/') New.FireFit.com
          span.rdt-meta Website Developed on WordPress
          p
            | Redesigned and developed.
