#rdt-about(data-section='about')
  .container
    .row.r-pb
      .col-md-8.col-md-offset-2.text-center.section-heading.animate-box
        h2.rdt-section-title About
        p.rdt-lead
          | I'm very passionate about learning programming languages, cloud computing development, and AI development.
    .row
      block education
        include education
    .row
      block experience
        include experience
