#rdt-contact(data-section='contact')
  .container
    .row
      .col-md-8.col-md-offset-2.text-center.section-heading
        h2.rdt-section-title.animate-box Contact
        p.rdt-lead.animate-box See you.
        p.animate-box
          | Thank you for visiting my page.
        p.animate-box
          a.btn.btn-primary.btn-lg(href='#', target='_blank') Get in touch
