#rdt-contact(data-section='contact')
  .container
    .row
      .col-md-8.col-md-offset-2.text-center.section-heading
        h2.rdt-section-title.animate-box Contact
        .jumbotron.jumbotron-fluid
          p.rdt-lead.animate-box Check out my resume below.
          a.btn.btn-primary.btn-lg(href='https://docs.google.com/document/d/e/2PACX-1vTfn_EcNjjUj2kP5Y5ao8V0H5fwOeaWgSYl6Pe8N8Z0DoUlgJfwhAnVi6I7wcWjuCO3xViW8kW1tLB2/pub?embedded=true', target='_blank') View
          a.btn.btn-primary.btn-lg(href='docs/KuanyshBoranbayev_Resume.pdf' download="Kuanysh_Boranbayev_Resume") Download
          p.animate-box
            | Thank you for visiting my website.
          p.animate-box
            a.btn.btn-primary.btn-lg(href='mailto:boranbayev.k@gmail.com', target='_top') Get in touch
