#rdt-contact(data-section='contact')
  .container
    .row
      .col-md-8.col-md-offset-2.text-center.section-heading
        h2.rdt-section-title.animate-box Contact
        .jumbotron.jumbotron-fluid
          p.rdt-lead.animate-box Check out my resume below.
          a.btn.btn-primary.btn-lg(href='https://drive.google.com/file/d/1SzcMbWPXY3UMuHopq1ZftkjBwbvNLzIi/view', target='_blank') View
          a.btn.btn-primary.btn-lg(href='docs/Resume.pdf' download="Kuanysh_Boranbayev_Resume") Download
          p.animate-box
            | Thank you for visiting my website.
          p.animate-box
            a.btn.btn-primary.btn-lg(href='mailto:boranbayev.k@gmail.com', target='_top') Get in touch
