h1.headings.icon-book  Education
.col-md-6.animate-box
  .rdt-text
    h2 1
      sup st
      |  year Science Certificate
    span.rdt-meta Columbia College, Vancouver, BC
    p
      | Have completed full-time University Transfer(UT) Program in Columbia College. The program offers first and second year university courses for transfer to major universities across Canada and the United States.
      | Taken science courses such Mathematics, Chemistry and Physics and some programming courses such as C and Python prior enrolling to BCIT.
.col-md-6.animate-box
  .rdt-text
    h2 Computer Systems Technology Diploma
    span.rdt-meta British Columbia Institute of Technology, Burnaby, BC
    p
      | In 2016, started full-time 2 year Diploma program in Computer Systems Technology. The program combines computer systems theory with hands-on practical experience in software development. In second year, Cloud Computing was selected as specialty option.
      | In Cloud Computing option, learned to create and maintain complex virtual computing environments in leading cloud computing platforms such as Amazon Web Services (AWS), Microsoft Azure, and Google Cloud Platform.
      | Acquired knowledge in managing automated software tools in continuous integration and continuous delivery (CI/CD) according to DevOps (development and operations) practices.
.col-lg-12.col-md-6.animate-box
  .rdt-text
    h2 Computer Systems Technology - Bachelor Degree
    span.rdt-meta British Columbia Institute of Technology, Burnaby, BC
    p
      | In 2019, started full-time 2 year degree program in Computer Systems Technology. The degree program is designed to prepare graduates to design, develop and deploy advanced network applications using a variety of programming languages such as C, C++, and Python, on the Linux and Windows platforms. Graduates will understand the role of security applications, both as exploit and penetration testing tools in networks. Courses are designed to provide in-depth skills using the Berkeley socket API, and the design of implementation of advanced IPv4/IPv6 Client/Server applications. Also covered are advanced topics, such as Wireless Data Communication, and Cryptology.
      | Advanced courses' focus will be on the research and advanced implementation of security tools such as Covert Channels, Stealth Backdoors, Trojans, Packet crafting and sniffing, and in security tools proof-of-concept and prototyping. The use of advanced raw socket and kernel-level programming techniques to implement security applications will be covered in a practical, hands-on manner.
