h1.headings.icon-archive  Experience
.col-md-6.animate-box
  .rdt-text
    h2 
      a(href='https://thesheph.com') Sheph
    span.rdt-meta Full Stack Developer, React Web Application + Proxy Nodejs Backend + MongoDB REST API
    p
      | Designed the majority part of the web application, from creating React App to deploying into AWS EC2, plus implemented DB server on remote proxy server. Implemented easily understandable REST API calls for front-end access. By today, the most professional work ever done by me.
.col-md-6.animate-box
  .rdt-text
    h2 
      a(href='https://github.com/kboranbayev/port-forwarder') Custom Port Forwarder in C
    span.rdt-meta C Developer, C Program
    p
      | Built all custom fully functional port forwarder only using C programming. The program can forward HTTP, SSH, and SCP traffic without any interruption. In addition, the program can easily handle 250+ simultaneous two-way traffics.
.col-md-6.animate-box
  .rdt-text
    h2 
      a(href='https://kboranbayev.github.io/avalanche-sha256/') Avalanche Effect Tester
    span.rdt-meta Javascript + JQuery
    p
      | The simplest project that was fun to code. It can test the Avalanche Effect of the two user entered ciphertext. It calculates the changes in bits. In addition, user can download the findings to CSV file for further analysis.
.col-md-6.animate-box
  .rdt-text
    h2
      a(href='http://www.mentalhealthbootcamp.com/') MentalHealthBootCamp.com
    span.rdt-meta BackEnd Developer, Web Application Project, MongoDB + ExpressJS + AngularJS + NodeJS + AWS EC2
    p
      | Designed and developed web application run by a group of psychologists. The web application offers end users 25-day boot camp for strengthening mental health.
.col-md-6.animate-box
  .rdt-text
    h2
      a(href='http://new.firefit.com/') New.FireFit.com
    span.rdt-meta Website Developed on WordPress, HTML + CSS + PHP + CodeIgniter
    p
      | Redesigned and developed on WordPress. The website is run by the Scott FireFit Championships Sponsors and its dedicated for fire fighting tasks based competitions and ongoing events.
.col-md-6.animate-box
  .rdt-text
    h2 LogiColor
    span.rdt-meta Backend Logic, Mobile Responsive Web Game, HTML5 + CSS3 + JQuery Events
    p
      | Designed logic algorithm for a web game along with a team, particularly using HTML5 and JavaScript by following Agile Scrum methodology.