#rdt-footer
  .container
    .row(style='text-align:center;')
      .animate-box
        .rdt-footer-widget
          ul.rdt-social
            li
              a(href='https://www.linkedin.com/in/kuanysh-boranbayev/', target='_blank')
                i.icon-linkedin-with-circle
            li
              a(href='https://github.com/kboranbayev', target='_blank') 
                i.icon-github-with-circle
      .animate-box
        .rdt-footer-widget
          p Designed by Kuanysh Boranbayev
          p © 2020 All Rights Reserved.
