#rdt-footer
  .container
    .row(style='text-align:center;')
      .animate-box
        .rdt-footer-widget
          ul.rdt-social
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-vk
            li
              a(href='#')
                i.icon-google-with-circle
            li
              a(href='#')
                i.icon-linkedin-with-circle
      .animate-box
        .rdt-footer-widget
          p Designed by Kuanysh Boranbayev
          p © 2017 All Rights Reserved.
