#rdt-footer
  .container
    .row(style='text-align:center;')
      .animate-box
        .rdt-footer-widget
          ul.rdt-social
            li
              a(href='https://ca.linkedin.com/in/kuanysh-boranbayev-bb234814a')
                i.icon-linkedin
            li
              a(href='https://github.com/kboranbayev')
                i.icon-github
      .animate-box
        .rdt-footer-widget
          p Designed by Kuanysh Boranbayev
          p © 2020 All Rights Reserved.
