#rdt-header
  .container
    // Mobile Toggle Menu Button
    a.js-rdt-nav-toggle.rdt-nav-toggle(href='#')
      i
    #rdt-logo
      a(href='/')
        span(style='color: #b2b6c1;') kuanysh
        span .
        span(style='color: #38293d;') boranbayev
    nav#rdt-main-nav
      ul
        li
          a(href='#', data-nav-section='home') Home
        li
          a(href='#', data-nav-section='about') About
        li
          a(href='#', data-nav-section='skills') Skills
        li
          a(href='#', data-nav-section='contact') Contact
