
#rdt-home.js-fullheight(data-section='home')
  .flexslider
    .rdt-overlay
    .rdt-text
      .container
        .row.text-center
          h1.animate-box Hello, I'm Kuanysh!
          p.animate-box.brief-welcome-text
          .rdt-go
            a.js-rdt-next(href='#')
              | See Portfolio
              span
                i.icon-arrow-down2
    ul.slides
      li(class='rdt-home-img', data-stellar-background-ratio='0.5')
    //  li(class='rdt-home-img', style='background-image: url(images/web_img2.jpg);', data-stellar-background-ratio='0.5')
