#rdt-portfolio(data-section='portfolio')
  .container
    .row.r-pb
      .col-md-8.col-md-offset-2.text-center.section-heading
        h2.rdt-section-title.animate-box Portfolio
        p.rdt-lead.animate-box
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
    .row
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_1.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_2.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_3.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_4.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_5.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_6.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_7.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_8.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_9.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_10.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_11.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
      .col-md-4.col-sm-4.col-xs-6.col-xxs-12.animate-box
        .img-grid
          img.img-responsive(src='images/pic_12.jpg', alt='Free HTML5 template by FREEHTML5.co')
          a.transition(href='portfolio-single.html')
            div
              span.rdt-meta 15 images
              h2.rdt-title Rob & Jean Wedding
