#rdt-resume(data-section='resume')
  .container
    .row
      //iframe(src="https://drive.google.com/file/d/1SzcMbWPXY3UMuHopq1ZftkjBwbvNLzIi/view")
      To view online resume, click
      a(href='https://drive.google.com/file/d/1Izpy5yjYdwL7U7jLC2cH-W10lxFGTiQN/view?usp=sharing')  here.
      To download, click
      a(href='docs/Resume.pdf' download="Kuanysh_Boranbayev_Resume")  here.
