#rdt-resume(data-section='resume')
  .container
    .row
      //iframe(src="https://docs.google.com/document/d/e/2PACX-1vTfn_EcNjjUj2kP5Y5ao8V0H5fwOeaWgSYl6Pe8N8Z0DoUlgJfwhAnVi6I7wcWjuCO3xViW8kW1tLB2/pub?embedded=true")
      To view online resume, click
      a(href='https://docs.google.com/document/d/e/2PACX-1vTfn_EcNjjUj2kP5Y5ao8V0H5fwOeaWgSYl6Pe8N8Z0DoUlgJfwhAnVi6I7wcWjuCO3xViW8kW1tLB2/pub?embedded=true')  here.
      To download, click
      a(href='docs/KuanyshBoranbayev_Resume.pdf' download="Kuanysh_Boranbayev_Resume")  here.
