#rdt-skills(data-section='skills')
  h1.headings.icon-user  Skills
    .container.row
      .col-md-8.col-md-offset-2.text-center.animate-box
        span.rdt-skill Git
        span.rdt-skill Jenkins
        span.rdt-skill Javascript
        span.rdt-skill C
        span.rdt-skill HTML
        span.rdt-skill CSS
        span.rdt-skill AWS
        span.rdt-skill Azure
        span.rdt-skill GCP
        span.rdt-skill Python
        span.rdt-skill MongoDB
        span.rdt-skill Wireshark
        span.rdt-skill HPING3
        span.rdt-skill Netfilter
        span.rdt-skill FEDORA
        span.rdt-skill UBUNTU
        span.rdt-skill WINDOWS
        span.rdt-skill REST API
        span.rdt-skill CRYPTOGRAPHY
        span.rdt-skill JAVA
    

            
